.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: #e2e4e7;
}
.main-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  content: aliceblue;
  margin: 30px 40px;
}
.left-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  background: #1e90ff linear-gradient(22deg, aqua, #1e90ff, #ff1493) fixed;
  color: #fff;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}
label {
  margin: 5px;
  font-size: 20px;
  color: whitesmoke;
  text-align: right;
}
input {
  padding: 8px 5px;
  border: transparent;
  margin-left: 2px;
  outline: none;
  background: #dbfbfb;
}
.feild-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6rem;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  margin-top: 1rem;
}

.submit-button {
  background-color: #4d4e70;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.8rem;
  padding: 16px 46px;
  font-size: 15px;
  margin-bottom: 1rem;
}
.submit-button:hover {
  background-color: #18b318;
  color: #fff;
  transition: 1s;
}

/* table section */
.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
.thead {
  background-color: #30c94a;
  color: #faebd7;
  font-size: 18px;
  text-align: left;
}
.thead th {
  padding: 9px;
  width: 15%;
}
.tbody td {
  color: #272929;
  font-size: 17px;
  padding: 0 11px;
}
.edit_button {
  background-color: transparent !important;
  border: 0;
  color: #10ed54;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem;
  font-size: 20px;
}
.edit_button:hover {
  color: rgb(248, 19, 19);
  transition: 1s;
}
